
<form>
    <h3>Filters</h3>
    <div class="form-group">
      <label for="launchyear">Launch Year</label>
      <input type="text" class="form-control" id="launchyear" aria-describedby="launchyearHelp">
    </div>

    <div class="form-group">

        <div class="row">
            <div class="col-md-7">
                <button class="btn btn-success btn-sm">2006</button>
                <button class="btn btn-success btn-sm disabled">2007</button>
                <button class="btn btn-success btn-sm disabled">2008</button>
                <button class="btn btn-success btn-sm disabled">2009</button>
                <button class="btn btn-success btn-sm disabled">2010</button>
                <button class="btn btn-success btn-sm disabled">2011</button>
                <button class="btn btn-success btn-sm disabled">2012</button>
                <button class="btn btn-success btn-sm disabled">2013</button>
            </div>
            <div class="col-md-3">
                
                <button class="btn btn-success btn-sm disabled">2014</button>
                <button class="btn btn-success btn-sm disabled">2015</button>
                <button class="btn btn-success btn-sm disabled">2016</button>
                <button class="btn btn-success btn-sm disabled">2017</button>
                <button class="btn btn-success btn-sm disabled">2018</button>
                <button class="btn btn-success btn-sm disabled">2019</button>
                <button class="btn btn-success btn-sm disabled">2020</button>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label for="successflnch">Successful Launch</label>
        <input type="text" class="form-control" id="successflnch" aria-describedby="successflnchHelp">
        <div class="row mt-3">
            <div class="col-md-7">
                <button class="btn btn-success btn-sm disabled">True</button>
            </div>
            <div class="col-md-3">
                <button class="btn btn-success btn-sm disabled">False</button>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label for="successfland">Successful Landing</label>
        <input type="text" class="form-control" id="successfland" aria-describedby="successfland">
        <div class="row mt-3">
            <div class="col-md-7">
                <button class="btn btn-success btn-sm disabled">True</button>
            </div>
            <div class="col-md-3">
                <button class="btn btn-success btn-sm disabled">False</button>
            </div>
        </div>
    </div>
  </form>